

/**********************************************
          My Name Is
***********************************************/

.my-name-is-container {
  height: 800px;
  width: 100%;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.my-name-image  {
  width: 110%;
  height: 100%;
  position: absolute;
  left: -30px;
  object-fit: cover;
}

.my-name-background {
  width: 42%;
  height: 800px;
  background: #FFF;
  opacity: .2;
  position: absolute;
  top: 0px;
  left: 58%;
  box-shadow: -13px 0px 24px black;
  z-index: 0;
  animation-name: my-name-background-slide;
  animation-duration: 1s;
}

@keyframes my-name-background-slide {
  0% {
    height: 0px;
  }
  100% {
    height: 800px;
  }
}

.hi-container-background {
  width: 39%;
  height: 45px;
  background: white;
  opacity: .2;
  position: absolute;
  top: 300px;
  left: 61%;
  box-shadow: -2px 2px 24px black;
  animation-name: hi-container-slide;
  animation-duration: 2s;
}

.hi-container {
  width: 39%;
  height: 45px;
  position: absolute;
  top: 300px;
  left: 61%;
  animation-name: hi-container-slide;
  animation-duration: 2s;
}

@keyframes hi-container-slide {
  0% {
    left: 100%;
    width: 0%;
  }
  100% {
    left: 61%;
    width: 39%;
  }
}

.hi {
  font-size: 36px;
  font-weight: 700;
  color: black;
  display: inline;
  position: absolute;
  left: 6%;
  animation-name: hi-slide;
  animation-duration: 1s;
}

@keyframes hi-slide {
  0% {
    left: 100%;
  }
  100% {
    left: 6%;
  }
}

.my-name{
  font-size: 36px;
  font-weight: 400;
  display: inline;
  position: absolute;
  left: 19%;
  animation-name: my-name-slide;
  animation-duration: 2s;
  opacity: .6;
}

@keyframes my-name-slide {
  0% {
    left: 100%;
    opacity: 0;
  }
  90% {
    left: 50%;
    opacity: 0;
  }
  100% {
    left: 19%;
    opacity: 1;
  }
}

.name-outer-container {
  width: 42%;
  height: 800px;
  position: absolute;
  top: 0px;
  left: 58%;
  animation-name: name-outer-container-slide;
  animation-duration: 1s;
}

@keyframes name-outer-container-slide {
  0% {
    height: 0px;
  }
  100% {
    height: 800px;
  }
}

.name-container {
  width: 86%;
  height: 103px;
  position: absolute;
  top: 40%;
  left: 12%;
}

.jason-lucas  {
  font-family: 'Germania One', cursive;
  font-size: 63px;
  color: #b99877;
  text-shadow: 1px 1px 15px black;
  position: absolute;
  top: 10px;
  left: 0px;
  transform: rotate(0deg);
  transform: rotate(-2deg);
  animation-duration: 3s;
  animation-delay: 0s;
  animation-name: titleSlide;
}

@keyframes titleSlide {
  0% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(-2deg);
  }
}

.developer {
  font-family: 'Germania One', cursive;
  font-size: 28px;
  color: #b99877;
  text-shadow: 1px 1px 15px black;
  position: absolute;
  top: 57px;
  left: 198px;
  transform: rotate(0deg);
  animation-name: fadeIn;
  animation-duration: 2s;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.scroll {
  font-size: 14px;
  font-weight: 400;
  color: #FFF;
  position: absolute;
  top: 679px;
  left: 48%;
  z-index: 9;
}

.scroll-line  {
  width: 5px;
  height: 53px;
  background: #FFF;
  position: absolute;
  top: 706px;
  left: 50%;
  z-index: 9;
}

.my-name-bottom-border  {
  width: 140%;
  height: 80px;
  background: #FFF;
  position: absolute;
  top: 746px;
  left: -5px;
  transform: rotate(-2deg);
  box-shadow: 2px -6px 24px black;
  z-index: 9;
}


/***************************************
media query 900
****************************************/

@media screen and (max-width: 900px) {

  .my-name-is-container {
    height: 500px;
  }

  .scroll {
    top: 430px
  }

  .scroll-line  {
    top: 455px;
    left: 51%;
  }

  .my-name-bottom-border  {
    top: 472px;
  }

  .my-name-background {
    height: 500px;
  }

  .hi-container-background  {
    top: 170px;
  }

  .hi-container {
    top: 171px;
  }

  .my-name  {
    left: 23%;
  }

  .name-outer-container {
    height: 500px;
  }

  @keyframes name-outer-container-slide {
    0% {
      height: 0px;
    }
    100% {
      height: 500px;
    }
  }

  .jason-lucas  {
    font-size: 53px;
  }

  .developer  {
    font-size: 26px;
    top: 51px;
    left: 141px;
  }

}


/***************************************
media query 750
****************************************/

@media screen and (max-width: 750px) {

  .jason-lucas  {
    font-size: 39px;
    top: 0px;
  }

  .developer  {
    font-size: 20px;
    top: 33px;
    left: 99px;
  }

  .hi {
    font-size: 28px;
  }

  .my-name  {
    font-size: 28px;
  }

  .hi-container {
    height: 32px;
  }

  .hi-container-background  {
    height: 32px;
  }

}


/***************************************
media query 560
****************************************/

@media screen and (max-width: 560px) {

  .my-name-is-container {
    height: 270px;
  }

  .my-name-bottom-border  {
    top: 254px;
  }

  .scroll {
    display: none;
  }

  .scroll-line  {
    display: none;
  }

  .my-name-background {
    width: 55%;
    height: 270px;
    left: 48%;
  }

  .hi-container-background  {
    width: 50%;
    height: 23px;
    top: 63px;
    left: 56%;
  }

  .jason-lucas   {
    font-size: 30px;
  }

  .developer  {
    font-size: 14px;
    left: 89px;
    top: 24px;
  }

  .hi-container {
    width: 50%;
    height: 23px;
    top: 63px;
    left: 56%;
  }

  @keyframes hi-container-slide {
    0% {
      left: 100%;
      width: 0%;
    }
    100% {
      left: 56%;
      width: 50%;
    }
  }

  .hi {
    font-size: 19px;
    left: 4%;
  }

  @keyframes hi-slide {
    0% {
      left: 100%;
    }
    100% {
      left: 4%;
    }
  }

  .my-name  {
    font-size: 19px;
  }

  @keyframes my-name-slide {
    0% {
      left: 100%;
      opacity: 0;
    }
    90% {
      left: 50%;
      opacity: 0;
    }
    100% {
      left: 23%;
      opacity: 1;
    }
  }

  .name-outer-container {
    width: 55%;
    height: 270px;
    left: 51%;
  }

  @keyframes name-outer-container-slide {
    0% {
      height: 0px;
    }
    100% {
      height: 270px;
    }
  }

  .name-container {
    width: 90%;
    left: 0%;
    top: 32%;
  }

}
