/**********************************************
          Work Page
***********************************************/


/**********************************************
          My Name Is Container
***********************************************/

.work-container {
  height: 800px;
  width: 100%;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.work-image  {
  width: 110%;
  height: 100%;
  position: absolute;
  left: -30px;
  object-fit: cover;
}

.work-background {
  position: absolute;
  top: 0px;
  left: 58%;
  height: 800px;
  width: 42%;
  background: #FFF;
  opacity: .2;
  box-shadow: -13px 0px 24px black;
  z-index: 0;
  animation-name: work-background-slide;
  animation-duration: 1s;
}

@keyframes work-background-slide {
  0% {
    height: 0px;
  }
  100% {
    height: 800px;
  }
}






.work-title-outer-container {
  position: absolute;
  top: 0px;
  left: 58%;
  height: 800px;
  width: 42%;
  animation-name: work-outer-container-slide;
  animation-duration: 1s;
}

@keyframes work-outer-container-slide {
  0% {
    height: 0px;
  }
  100% {
    height: 800px;
  }
}

.work-title-container {
  position: absolute;
  top: 40%;
  left: 12%;
  height: 103px;
  width: 86%;
}

.work-title  {
  font-family: 'Germania One', cursive;
  font-size: 63px;
  color: #b99877;
  text-shadow: 1px 1px 15px black;
  position: absolute;
  top: 10px;
  left: 80px;
  transform: rotate(0deg);
  transform: rotate(-2deg);
  animation-duration: 3s;
  animation-delay: 0s;
  animation-name: titleSlide;
}

@keyframes titleSlide {
  0% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(-2deg);
  }
}

.recent-projects {
  font-family: 'Germania One', cursive;
  font-size: 28px;
  color: #b99877;
  text-shadow: 1px 1px 15px black;
  position: absolute;
  top: 57px;
  left: 126px;
  transform: rotate(0deg);
  animation-name: fadeIn;
  animation-duration: 2s;
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.scroll {
  font-size: 14px;
  font-weight: 400;
  color: #FFF;
  position: absolute;
  top: 679px;
  left: 48%;
  z-index: 9;
}

.scroll-line  {
  height: 53px;
  width: 5px;
  background: #FFF;
  position: absolute;
  top: 706px;
  left: 50%;
  z-index: 9;
}

.work-bottom-border  {
  height: 80px;
  width: 140%;
  background: #FFF;
  position: absolute;
  top: 746px;
  left: -5px;
  transform: rotate(-2deg);
  box-shadow: 2px -6px 24px black;
  z-index: 9;
}
