/**********************************************
          Who I Am Page
***********************************************/

.who-i-am-page-container-title-container {
  height: 40px;
  width: 200PX;
  margin: auto;
  animation-name: who-page-title-container-slide;
  animation-duration: 2s;
}

@keyframes who-page-title-container-slide {
    0%   {margin-top: 50px;}
    100% {margin-top: 0px;}
}

.who-i-am-page-title {
  font-family: 'Germania One', cursive;
  font-size: 37px;
  color: black;
  text-align: center;
  text-decoration: underline;
}

.inner-who-i-am-page-container {
  height: 500px;
  width: 90%;
  margin: auto;
  margin-top: 35px;
  animation-name: inner-page-container-slide;
  animation-duration: 3s;
}

@keyframes inner-page-container-slide {
    0%   {margin-right: -1000px;}
    99% {margin-right: 75px;}
    100% {margin-right: auto;}
}

.who-i-am-page-image-container  {
  height: 421px;
  background: #666666;
  box-shadow: 1px 1px 10px black;
  width: 49%;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  display: inline-block;
  position: relative;
}

.who-i-am-page-upper-container {
  width: 100%;
  height: 37%;
  position: absolute;
  display: flex;
  justify-content: center;
}

.who-i-am-page-profile-image  {
  height: 100%;
  margin-top: 6px;
  border-radius: 100px;
  border: solid 1px black;
  box-shadow: 1px 1px 4px black;
}

.who-i-am-page-lower-container {
  width: 100%;
  height: 55%;
  position: absolute;
  top: 45%;
}

.who-i-am-page-lower-container-background  {
  width: 98%;
  height: 105%;
  background: #dce4e7;
  margin-top: -16px;
  margin-left: 3px;
  opacity: .8;
  border-radius: 5px;
  position: absolute;
  box-shadow: 1px 1px 4px black;
}

.who-i-am-page-name  {
  font-family: 'Germania One', cursive;
  font-size: 26px;
  font-weight: 800;
  color: #b99877;
  margin: -7px 0 0 10px;
  text-decoration: underline;
  position: absolute;
}

.who-i-am-page-outline {
  font-size: 15px;
  font-weight: 400;
  padding: 10px 10px 0 7px;
  position: absolute;
  top: 21px;
  opacity: .6;
}
