.work-section-container {
  width: 100%;
  height: 750px;
  background: #8a8a8a;
  margin-top: 40px;
  margin-bottom: 40px;
  overflow: hidden;
  position: relative;
}

.work-section-top-border  {
  width: 120%;
  height: 100px;
  background: #FFF;
  transform: rotate(2deg);
  position: absolute;
  top: -50px;
  left: 0px;
  z-index: 1;
  box-shadow: 1px 1px 40px black;
}

.work-section-title {
  font-family: 'Germania One', cursive;
  font-size: 37px;
  color: #FFF;
  margin-top: 74px;
  text-align: center;
  text-decoration: underline;
}

.work-section-card-container  {
  width: 100%;
  height: 300px;
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.work-section-bottom-border  {
  width: 120%;
  height: 100px;
  background: #FFF;
  transform: rotate(1deg);
  position: absolute;
  top: 730px;
  left: 0px;
  z-index: 1;
  box-shadow: 1px 1px 40px black;
}


/***************************************
media query 960
****************************************/

@media screen and (max-width: 960px) {

  .work-section-container {
    height: 1015px;
  }

  .work-section-bottom-border {
    top: 1007px;
  }

}


/***************************************
media query 639
****************************************/

@media screen and (max-width: 639px) {

  .work-section-container {
    height: 1840px;
  }

  .work-section-bottom-border {
    top: 1830px;
  }

}
